body{
    width: 100%;
}

.container {
    width: 100%;
}

table {
    display: block;
    table-layout: fixed;
    text-align: center;
    color: white;
    font-size: 14px;
}

th,
td {
    border: 1px solid white;
    padding: 35px;
}

.btn {
    margin-right: 13px;
    
}

@media (max-width: 576px){
    body {
        background-color: aquamarine;
        width: 450px;
    }
    td {
        overflow-y: scroll;
    }
}

@media (orientation: landscape){

    .btn {
         margin-right: 13px;   
         display: inline-block;
    }
        td {
        padding: 45px;
        overflow-y: auto;
        margin: 65px;
    }
}
