/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #5995DA;
    padding: 20px;
}

.menu {
    display: flex;
    border: 1px solid #fff;
    justify-content: space-between;
    width: 900px;
}

.links {
    display: flex;
    justify-content: center;
}

.login {
    margin-left: 20px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social,
.logo,
.subscribe{
    border: 1px solid #5995DA;
}

.photo-grid-container{
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}


.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
} */

/* ul {
    list-style-type: none;
}

li {
    margin: 5px;
}

nav > ul {
    display: flex;
}

nav > ul > #login {
    margin-left:auto;

} */

/* #flex-container{
    border: 2px dashed gray;
    display: flex;
}

#flex-auto{
    cursor: pointer;
    background-color: wheat;
    flex:auto;
}

#default {
    background-color: lightblue;
} */

/* .article-container {
    display: flex;
    justify-content: flex-start;
    border: 2px solid aquamarine;
}

.article-group {
    display: flex;
    border: 1px solid firebrick;
    background-color: white;
    gap: 30px;
    width: 700px;
}

.article {
    width: 20px;
    border: 2px solid deeppink;
} */

/* form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
} */

/* .flex-wrapper{
    display: flex;
}

.item{
    height: 50px;
    border: 5px solid royalblue;
    border-radius: 4px;
    background-color: hotpink;
    width: 2000px;
    flex:10;
}

.item1{
    height: 50px;
    border: 5px solid royalblue;
    border-radius: 4px;
    background-color: hotpink;
    width: 2000px;
    flex:5;
} */


body {
  background: hsl(210deg, 30%, 12%);
  color: hsl(0deg 0% 100%);
}
.wrapper {
  display: flex;
  gap: 8px;
}
.item {
  height: 32px;
  border: 2px solid hsl(210deg 8% 50%);
  background: hsl(210deg 15% 20%);
}
.item.stretch {
  /*
    Because this item is empty, it
    has a default hypothetical width
     of 0px. This isn't realistic,
     though; in a typical case,
     there would be content in here!
     And so we set a width of 300px
     to simulate it containing stuff.
  */
  width: 300px;
  flex-grow: 1;
  border-radius: 16px;
}
.item.ball {
  width: 32px;
  flex-shrink: 0;
  /*
    NOTE: We could prevent the circle
    from squishing into an oval by
    setting border-radius: 16px
    instead. I'm using percentages
    because it makes for a better
    demo. But even with a pixel-based
    radius, we still need
    flex-shrink: 0 to prevent the
    item from shrinking (give it a
    shot and see the difference!).
  */
  border-radius: 50%;
}