/*
* 4.4. Error 404
*/
.error404{
  h2{
    text-align: center;
    &:after{
      left: 50%;
      margin-left: -45px;
    }
  }
  > div{
    p{
      text-align: center;
    }
    .icon{
      color: @color-black;
      font-size: 200px;
      height: 200px;
      line-height: 200px;
      width: 200px;
    }
  }
}