.container{
    margin: 0 auto;
    width: 900px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

ul.projects-list li img{
    width: 86px;
}

.projects-list {
    padding: 0 0 0 2px;
}

ul.projects-list li { 
    display: inline-block;
    padding: 0 0 0 12px;
    
}



